In [4]:
# Import dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pandas as pd
import json

In [5]:
with open('data/samples.json') as s:
    data = json.load(s)

In [9]:
data.keys()

dict_keys(['names', 'metadata', 'samples'])

In [16]:
data_df = pd.DataFrame.from_dict(data)

In [17]:
data_df

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."
5,946,"{'id': 946, 'ethnicity': 'Caucasian', 'gender'...","{'id': '946', 'otu_ids': [1167, 2859, 2011, 41..."
6,947,"{'id': 947, 'ethnicity': 'Caucasian', 'gender'...","{'id': '947', 'otu_ids': [2419, 2722, 2859, 94..."
7,948,"{'id': 948, 'ethnicity': 'Caucasian', 'gender'...","{'id': '948', 'otu_ids': [728, 922, 2722, 943,..."
8,949,"{'id': 949, 'ethnicity': 'Caucasian', 'gender'...","{'id': '949', 'otu_ids': [2419, 944, 1795], 's..."
9,950,"{'id': 950, 'ethnicity': 'Caucasian', 'gender'...","{'id': '950', 'otu_ids': [1795, 922, 944, 3360..."
10,952,"{'id': 952, 'ethnicity': 'Caucasian', 'gender'...","{'id': '952', 'otu_ids': [922, 943, 2539, 728,..."
11,953,"{'id': 953, 'ethnicity': 'Caucasian', 'gender'...","{'id': '953', 'otu_ids': [922, 1795, 944, 943,..."
12,954,"{'id': 954, 'ethnicity': 'Caucasian', 'gender'...","{'id': '954', 'otu_ids': [944, 1795, 922, 3120..."
13,955,"{'id': 955, 'ethnicity': 'Caucasian', 'gender'...","{'id': '955', 'otu_ids': [922, 2419, 2722, 285..."
14,956,"{'id': 956, 'ethnicity': 'Caucasian', 'gender'...","{'id': '956', 'otu_ids': [1795, 2419, 1167, 94..."
15,958,"{'id': 958, 'ethnicity': 'Caucasian', 'gender'...","{'id': '958', 'otu_ids': [922, 2308, 1795, 943..."
16,959,"{'id': 959, 'ethnicity': 'Caucasian', 'gender'...","{'id': '959', 'otu_ids': [1795, 922, 943, 936,..."
17,960,"{'id': 960, 'ethnicity': 'Caucasian', 'gender'...","{'id': '960', 'otu_ids': [922, 944, 1795, 2419..."
18,961,"{'id': 961, 'ethnicity': 'Caucasian', 'gender'...","{'id': '961', 'otu_ids': [1795, 2722, 909, 285..."
19,962,"{'id': 962, 'ethnicity': 'Caucasian', 'gender'...","{'id': '962', 'otu_ids': [3312, 3288, 3120, 32..."
20,963,"{'id': 963, 'ethnicity': 'Caucasian', 'gender'...","{'id': '963', 'otu_ids': [728, 2419, 1870, 253..."
21,964,"{'id': 964, 'ethnicity': 'Caucasian', 'gender'...","{'id': '964', 'otu_ids': [728, 944, 2419, 352,..."
22,966,"{'id': 966, 'ethnicity': 'Caucasian', 'gender'...","{'id': '966', 'otu_ids': [943, 922, 1453, 1795..."
23,967,"{'id': 967, 'ethnicity': 'Caucasian/Jewish', '...","{'id': '967', 'otu_ids': [2539, 2722, 3450, 24..."
24,968,"{'id': 968, 'ethnicity': 'Caucasian', 'gender'...","{'id': '968', 'otu_ids': [922, 944, 2419, 2461..."
25,969,"{'id': 969, 'ethnicity': 'Caucasian/Asian', 'g...","{'id': '969', 'otu_ids': [944, 1795, 919, 2722..."
26,970,"{'id': 970, 'ethnicity': 'Caucasian', 'gender'...","{'id': '970', 'otu_ids': [1795, 3360, 3544, 14..."
27,971,"{'id': 971, 'ethnicity': 'Asian(South)', 'gend...","{'id': '971', 'otu_ids': [922, 943, 2419, 2389..."
28,972,"{'id': 972, 'ethnicity': 'Caucasian', 'gender'...","{'id': '972', 'otu_ids': [922, 1795, 2859, 241..."
29,973,"{'id': 973, 'ethnicity': 'Caucasian', 'gender'...","{'id': '973', 'otu_ids': [2859, 944, 2419, 179..."
...,...,...,...
123,1540,"{'id': 1540, 'ethnicity': 'Caucasian', 'gender...","{'id': '1540', 'otu_ids': [1014, 1795, 3120, 9..."
124,1541,"{'id': 1541, 'ethnicity': 'Caucasian', 'gender...","{'id': '1541', 'otu_ids': [], 'sample_values':..."
125,1542,"{'id': 1542, 'ethnicity': 'Caucasian', 'gender...","{'id': '1542', 'otu_ids': [], 'sample_values':..."
126,1543,"{'id': 1543, 'ethnicity': 'Caucasian', 'gender...","{'id': '1543', 'otu_ids': [1795, 944, 2419, 16..."
127,1544,"{'id': 1544, 'ethnicity': 'Caucasian', 'gender...","{'id': '1544', 'otu_ids': [1795, 939, 944, 241..."
128,1545,"{'id': 1545, 'ethnicity': 'Caucasian', 'gender...","{'id': '1545', 'otu_ids': [1795, 944, 1840, 27..."
129,1546,"{'id': 1546, 'ethnicity': 'Caucasian', 'gender...","{'id': '1546', 'otu_ids': [1795, 944, 1929, 27..."
130,1547,"{'id': 1547, 'ethnicity': None, 'gender': 'M',...","{'id': '1547', 'otu_ids': [970, 1795, 830, 944..."
131,1548,"{'id': 1548, 'ethnicity': 'Caucasian', 'gender...","{'id': '1548', 'otu_ids': [1795, 3184, 3316, 1..."
132,1549,"{'id': 1549, 'ethnicity': 'Caucasian', 'gender...","{'id': '1549', 'otu_ids': [1795, 944, 922, 954..."
133,1550,"{'id': 1550, 'ethnicity': 'Caucasian', 'gender...","{'id': '1550', 'otu_ids': [1795, 944], 'sample..."
134,1551,"{'id': 1551, 'ethnicity': 'Caucasian', 'gender...","{'id': '1551', 'otu_ids': [1795, 944, 3184, 35..."
135,1552,"{'id': 1552, 'ethnicity': 'Caucasian', 'gender...","{'id': '1552', 'otu_ids': [1795, 944, 830, 939..."
136,1553,"{'id': 1553, 'ethnicity': 'Caucasian', 'gender...","{'id': '1553', 'otu_ids': [2539, 2419, 874, 72..."
137,1554,"{'id': 1554, 'ethnicity': 'Caucasian', 'gender...","{'id': '1554', 'otu_ids': [944, 2651, 909, 226..."
138,1555,"{'id': 1555, 'ethnicity': 'Caucasian', 'gender...","{'id': '1555', 'otu_ids': [1795, 922, 944, 190..."
139,1556,"{'id': 1556, 'ethnicity': 'Hispanic', 'gender'...","{'id': '1556', 'otu_ids': [1795, 922, 944, 943..."
140,1557,"{'id': 1557, 'ethnicity': 'Caucasian', 'gender...","{'id': '1557', 'otu_ids': [1795], 'sample_valu..."
141,1558,"{'id': 1558, 'ethnicity': 'Caucasian', 'gender...","{'id': '1558', 'otu_ids': [1795, 482, 1167, 28..."
142,1561,"{'id': 1561, 'ethnicity': 'Caucasian', 'gender...","{'id': '1561', 'otu_ids': [1795, 3134, 151, 53..."
143,1562,"{'id': 1562, 'ethnicity': 'Caucasian', 'gender...","{'id': '1562', 'otu_ids': [944, 1795, 922, 930..."
144,1563,"{'id': 1563, 'ethnicity': 'Caucasian', 'gender...","{'id': '1563', 'otu_ids': [3476, 922, 943, 308..."
145,1564,"{'id': 1564, 'ethnicity': 'Caucasian', 'gender...","{'id': '1564', 'otu_ids': [1795, 3064, 944, 15..."
146,1572,"{'id': 1572, 'ethnicity': 'Caucasian', 'gender...","{'id': '1572', 'otu_ids': [1167, 482, 3643, 13..."
147,1573,"{'id': 1573, 'ethnicity': 'Caucasian', 'gender...","{'id': '1573', 'otu_ids': [922, 2419, 1453, 17..."
148,1574,"{'id': 1574, 'ethnicity': 'Caucasian', 'gender...","{'id': '1574', 'otu_ids': [482, 909, 2419, 944..."
149,1576,"{'id': 1576, 'ethnicity': 'Caucasian', 'gender...","{'id': '1576', 'otu_ids': [1929, 1770, 1926, 1..."
150,1577,"{'id': 1577, 'ethnicity': 'Caucasian', 'gender...","{'id': '1577', 'otu_ids': [922, 1795, 151, 318..."
151,1581,"{'id': 1581, 'ethnicity': 'Asian(American)', '...","{'id': '1581', 'otu_ids': [1795, 3312, 1399, 3..."
152,1601,"{'id': 1601, 'ethnicity': 'Caucasian', 'gender...","{'id': '1601', 'otu_ids': [1929, 3030, 1795, 8..."

In [24]:
engine = create_engine('sqlite:///db.sqlite', echo=False)

In [25]:
data_df.to_sql('samples', engine, if_exists='append', index=False)

InterfaceError: (sqlite3.InterfaceError) Error binding parameter 1 - probably unsupported type.
[SQL: INSERT INTO samples (names, metadata, samples) VALUES (?, ?, ?)]
[parameters: (('940', {'id': 940, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 24.0, 'location': 'Beaufort/NC', 'bbtype': 'I', 'wfreq': 2.0}, {'id': '940', 'otu_ids': [1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977, 3450, 874, 1959, 2191, 1950, 2077, 2275, 944, 2184, 2244, 2024, 2419, ... (4803 characters truncated) ... , 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria']}), ('941', {'id': 941, 'ethnicity': 'Caucasian/Midleastern', 'gender': 'F', 'age': 34.0, 'location': 'Chicago/IL', 'bbtype': 'I', 'wfreq': 1.0}, {'id': '941', 'otu_ids': [2722, 944, 2419, 2539, 3450, 1795, 2389, 1314, 922, 1167, 2859, 963, 2964, 2651, 2308, 482, 874, 2908, 1870, 2264, 41, 728,  ... (3078 characters truncated) ... ria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella']}), ('943', {'id': 943, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 49.0, 'location': 'Omaha/NE', 'bbtype': 'I', 'wfreq': 1.0}, {'id': '943', 'otu_ids': [1795], 'sample_values': [2], 'otu_labels': ['Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus']}), ('944', {'id': 944, 'ethnicity': 'European', 'gender': 'M', 'age': 44.0, 'location': 'NewHaven/CT', 'bbtype': 'I', 'wfreq': 1.0}, {'id': '944', 'otu_ids': [922, 3555, 943, 1013, 1795, 944, 3368, 923, 1770, 3516, 3120, 3541, 2308, 3527, 3312, 41, 1929, 2651, 2937, 2722, 728, 2130, ... (2188 characters truncated) ... ;Actinobacteria;Actinobacteria;Actinomycetales;Nocardioidaceae', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Dermacoccaceae;Dermacoccus']}), ('945', {'id': 945, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 48.0, 'location': 'Philidelphia/PA', 'bbtype': 'I', 'wfreq': 1.0}, {'id': '945', 'otu_ids': [944, 1795, 922, 2419, 2859, 943, 2722, 1167, 2651, 1314, 719, 2190, 2964, 296, 1169, 2782, 41, 2011, 728, 2539, 482, 2571, 2 ... (4609 characters truncated) ... ria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus']}), ('946', {'id': 946, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 42.0, 'location': 'Deerfield/MA', 'bbtype': 'I', 'wfreq': 3.0}, {'id': '946', 'otu_ids': [1167, 2859, 2011, 41, 296, 909, 2782, 2722, 2964, 1314, 1169, 1286, 2190, 3459, 2571, 2419, 2908, 1200, 2318, 830, 482, 1189 ... (7137 characters truncated) ... acteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria']}), ('947', {'id': 947, 'ethnicity': 'Caucasian', 'gender': 'M', 'age': 49.0, 'location': 'ChapelHill/NC', 'bbtype': 'I', 'wfreq': 6.0}, {'id': '947', 'otu_ids': [2419, 2722, 2859, 944, 2651, 1795, 3450, 922, 1167, 2964, 2539, 728, 2011, 41, 1314, 1169, 296, 2190, 2389, 909, 1286, 2318, ... (4963 characters truncated) ... teria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus']}), ('948', {'id': 948, 'ethnicity': 'Caucasian', 'gender': 'M', 'age': 20.0, 'location': 'ChapelHill/NC', 'bbtype': 'I', 'wfreq': None}, {'id': '948', 'otu_ids': [728, 922, 2722, 943, 2419, 482, 2859, 1977, 883, 3643, 1189, 2011, 2264, 1167, 2782, 830, 3036, 3450, 2396, 2184, 1314, 41,  ... (4516 characters truncated) ... er', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum']})  ... displaying 10 of 153 total bound parameter sets ...  ('1581', {'id': 1581, 'ethnicity': 'Asian(American)', 'gender': 'F', 'age': 22.0, 'location': 'NC', 'bbtype': 'I', 'wfreq': 2.0}, {'id': '1581', 'otu_ids': [1795, 3312, 1399, 3134, 3288, 3120, 151, 954, 3184, 531, 3064, 3541, 1929, 1600, 3232, 1921, 3131, 1785, 1386, 1052, 3327,  ... (1551 characters truncated) ... ', 'Bacteria;Proteobacteria;Betaproteobacteria;Burkholderiales', 'Bacteria;Fusobacteria;Fusobacteria;Fusobacteriales;Fusobacteriaceae;Fusobacterium']}), ('1601', {'id': 1601, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 22.0, 'location': 'NC', 'bbtype': 'I', 'wfreq': 2.0}, {'id': '1601', 'otu_ids': [1929, 3030, 1795, 894, 1167, 1926, 3042, 1930, 944, 2419, 1924, 1849, 3395, 3029, 1917, 1927, 3450, 1925, 2651, 922, 1870,  ... (3630 characters truncated) ... ria;Actinobacteria;Actinobacteria;Actinomycetales;Micrococcaceae;Rothia', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae;Veillonella']}))]
(Background on this error at: http://sqlalche.me/e/rvf5)

In [12]:
metadata = data["metadata"]

In [14]:
metadata_df = pd.DataFrame.from_dict(metadata)

In [15]:
metadata_df

      age bbtype              ethnicity gender    id         location  wfreq
0    24.0      I              Caucasian      F   940      Beaufort/NC    2.0
1    34.0      I  Caucasian/Midleastern      F   941       Chicago/IL    1.0
2    49.0      I              Caucasian      F   943         Omaha/NE    1.0
3    44.0      I               European      M   944      NewHaven/CT    1.0
4    48.0      I              Caucasian      F   945  Philidelphia/PA    1.0
5    42.0      I              Caucasian      F   946     Deerfield/MA    3.0
6    49.0      I              Caucasian      M   947    ChapelHill/NC    6.0
7    20.0      I              Caucasian      M   948    ChapelHill/NC    NaN
8    51.0      I              Caucasian      F   949        Durham/NC    3.0
9    51.0      I              Caucasian      M   950       NewYork/NY    5.0
10   51.0      I              Caucasian      F   952       Seattle/WA    7.0
11   38.0      I              Caucasian      F   953       Chicago/IL    2.0
12   26.0      I              Caucasian      M   954       NewYork/NY    7.0
13   27.0      I              Caucasian      F   955       NewYork/NY    7.0
14   16.0      I              Caucasian      M   956  Jacksonville/NC    7.0
15   43.0      I              Caucasian      M   958    Wilmington/NC    5.0
16   40.0      I              Caucasian      M   959      Carrboro/NC    5.0
17   48.0      I              Caucasian      M   960     Lexington/NC    7.0
18   35.0      i              Caucasian      F   961      Edmonton,AB    4.0
19   56.0      i              Caucasian      F   962    Washington,DC    1.0
20   33.0      I              Caucasian      F   963        Ithaca/NY    3.5
21   43.0      I              Caucasian      F   964        UK/London    7.0
22   56.0      I              Caucasian      M   966       Needham/MA    0.0
23   43.0      I       Caucasian/Jewish      F   967    ChapelHill/NC    1.0
24   38.0      I              Caucasian      F   968      St.Louis/MI    6.0
25   31.0      I        Caucasian/Asian      F   969    ChevyChase/MD    7.0
26   42.0      i              Caucasian      F   970      SanDiego/CA    0.0
27   36.0      I           Asian(South)      M   971  SantaBarbara/CA    1.0
28   31.0      I              Caucasian      F   972     Charlotte/NC    7.0
29    4.0      I              Caucasian      F   973     Charlotte/NC    1.0
..    ...    ...                    ...    ...   ...              ...    ...
123  30.0      I              Caucasian      M  1540               NC    0.0
124  26.0      I              Caucasian      F  1541               NC    0.0
125  36.0      I              Caucasian      M  1542               NC    NaN
126  34.0      I              Caucasian      F  1543               NC    3.0
127  33.0      I              Caucasian      F  1544               NC    1.0
128  39.0      I              Caucasian      F  1545               NC    7.0
129  34.0      I              Caucasian      M  1546               NC    3.0
130  38.0      I                   None      M  1547               NC    0.0
131   6.0      I              Caucasian      M  1548               NC    0.0
132  37.0      I              Caucasian      F  1549               NC    3.0
133  29.0      I              Caucasian      F  1550               NC    7.0
134  26.0      I              Caucasian      M  1551               NC    0.0
135  25.0      I              Caucasian      M  1552               NC    3.0
136  50.0      I              Caucasian      F  1553               NC    0.0
137  18.0      I              Caucasian      F  1554               NC    0.0
138  26.0      I              Caucasian      M  1555               NC    0.0
139  34.0      I               Hispanic      M  1556               NC    0.0
140  26.0      I              Caucasian      F  1557               NC    2.0
141  26.0      I              Caucasian      M  1558               NC    1.0
142  31.0      I              Caucasian      M  1561               NC    2.0
143  39.0      I              Caucasian      M  1562               MT    0.0
144  31.0      I              Caucasian      F  1563               MT    0.0
145  36.0      I              Caucasian      F  1564               NC    5.0
146  33.0      I              Caucasian      F  1572               NC    0.0
147  53.0      I              Caucasian      M  1573               NC    0.0
148  30.0      I              Caucasian      M  1574               OK    7.0
149  33.0      I              Caucasian      F  1576               NC    0.0
150  26.0      I              Caucasian      M  1577               NC    0.0
151  22.0      I        Asian(American)      F  1581               NC    2.0
152  22.0      I              Caucasian      F  1601               NC    2.0

[153 rows x 7 columns]

In [ ]:
data_df.to_sql('metadable', engine, if_exists='append', index=False)

In [18]:
samples = data["samples"]

In [19]:
samples_df = pd.DataFrame.from_dict(samples)

In [20]:
samples_df

,id,otu_ids,otu_labels,sample_values
0,940,"[1167, 2859, 482, 2264, 41, 1189, 352, 189, 23...",[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...,"[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37..."
1,941,"[2722, 944, 2419, 2539, 3450, 1795, 2389, 1314...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...,"[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21..."
2,943,[1795],[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,[2]
3,944,"[922, 3555, 943, 1013, 1795, 944, 3368, 923, 1...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[278, 33, 19, 18, 11, 8, 7, 5, 5, 5, 4, 4, 4, ..."
4,945,"[944, 1795, 922, 2419, 2859, 943, 2722, 1167, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[274, 141, 129, 110, 40, 37, 35, 32, 26, 20, 1..."
5,946,"[1167, 2859, 2011, 41, 296, 909, 2782, 2722, 2...",[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...,"[217, 195, 159, 153, 123, 116, 116, 114, 109, ..."
6,947,"[2419, 2722, 2859, 944, 2651, 1795, 3450, 922,...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...,"[412, 236, 200, 135, 115, 102, 46, 45, 27, 24,..."
7,948,"[728, 922, 2722, 943, 2419, 482, 2859, 1977, 8...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[225.0, 185.0, 64.0, 57.0, 55.0, 50.0, 47.0, 2..."
8,949,"[2419, 944, 1795]",[Bacteria;Firmicutes;Clostridia;Clostridiales;...,"[8, 4, 3]"
9,950,"[1795, 922, 944, 3360, 1929, 830, 1724, 1728, ...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[427.0, 123.0, 14.0, 13.0, 13.0, 11.0, 10.0, 7..."
10,952,"[922, 943, 2539, 728, 982, 989, 883, 2722, 241...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[182, 79, 52, 43, 38, 36, 34, 32, 32, 30, 28, ..."
11,953,"[922, 1795, 944, 943, 963, 2419, 818, 719, 238...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[302, 246, 54, 23, 14, 12, 7, 6, 5, 4, 3, 3, 2..."
12,954,"[944, 1795, 922, 3120, 3312, 930, 1602, 919, 1...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[335, 275, 265, 10, 8, 6, 6, 5, 5, 4, 4, 4, 3,..."
13,955,"[922, 2419, 2722, 2859, 944, 943, 2651, 1795, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[137.0, 91.0, 61.0, 58.0, 49.0, 38.0, 31.0, 26..."
14,956,"[1795, 2419, 1167, 944, 922, 2308, 2859, 482, ...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[179, 45, 41, 34, 33, 32, 28, 27, 24, 19, 19, ..."
15,958,"[922, 2308, 1795, 943, 2419, 2389, 2539, 659, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[637, 414, 122, 64, 46, 17, 11, 9, 7, 6, 5, 4,..."
16,959,"[1795, 922, 943, 936, 924, 3544, 659, 763, 105...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[150, 147, 16, 10, 6, 3, 2, 2, 2, 2, 2, 2, 2]"
17,960,"[922, 944, 1795, 2419, 943, 2722, 3541, 1929, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[40, 34, 32, 27, 6, 6, 5, 5, 4, 4, 4, 3, 3, 2,..."
18,961,"[1795, 2722, 909, 2859, 1314, 1724, 944, 2539,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[430, 33, 20, 19, 11, 9, 9, 8, 6, 6, 4, 4, 4, ..."
19,962,"[3312, 3288, 3120, 3284, 1795, 3119, 1911, 354...",[Bacteria;Proteobacteria;Betaproteobacteria;Bu...,"[180, 97, 72, 45, 24, 19, 17, 14, 12, 11, 6, 6..."
20,963,"[728, 2419, 1870, 2539, 2859, 922, 944, 1167, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[96, 70, 47, 43, 40, 40, 39, 26, 25, 22, 20, 1..."
21,964,"[728, 944, 2419, 352, 482, 2859, 1795, 1167, 2...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[24, 17, 15, 13, 12, 11, 11, 9, 8, 8, 7, 6, 5,..."
22,966,"[943, 922, 1453, 1795, 1929, 944, 928, 1895, 3...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[268, 171, 43, 41, 30, 20, 19, 18, 17, 13, 12,..."
23,967,"[2539, 2722, 3450, 2419, 939, 2964, 963, 944, ...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...,"[239, 72, 44, 38, 29, 23, 18, 13, 5, 4, 4, 3, ..."
24,968,"[922, 944, 2419, 2461, 1795, 1870, 2389, 2722,...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[398, 242, 199, 35, 29, 28, 25, 20, 14, 14, 13..."
25,969,"[944, 1795, 919, 2722]",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[90, 28, 2, 2]"
26,970,"[1795, 3360, 3544, 1408, 1724, 3288, 3541]",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[39, 3, 3, 2, 2, 2, 2]"
27,971,"[922, 943, 2419, 2389, 2539, 2461, 944, 1795, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[281, 88, 66, 58, 36, 35, 17, 12, 10, 10, 7, 7..."
28,972,"[922, 1795, 2859, 2419, 2539, 728, 944, 2722, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[74, 60, 50, 44, 37, 35, 25, 24, 21, 16, 16, 1..."
29,973,"[2859, 944, 2419, 1795, 1167, 922, 2011, 41, 2...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...,"[24, 21, 19, 15, 10, 8, 8, 5, 5, 4, 4, 4, 4, 3..."
...,...,...,...,...
123,1540,"[1014, 1795, 3120, 970, 944, 3184, 830, 3064, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[43, 39, 32, 32, 23, 18, 18, 14, 11, 8, 7, 6, ..."
124,1541,[],[],[]
125,1542,[],[],[]
126,1543,"[1795, 944, 2419, 1600, 1724, 3541, 728, 1706,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[428, 104, 22, 5, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2..."
127,1544,"[1795, 939, 944, 2419, 728]",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[11, 5, 5, 3, 2]"
128,1545,"[1795, 944, 1840, 2722, 3507, 3134, 2396, 2859...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[406, 17, 11, 8, 7, 6, 5, 5, 4, 4, 4, 4, 3, 3,..."
129,1546,"[1795, 944, 1929, 2722, 1440, 1724, 3184, 1706...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[981, 41, 21, 17, 11, 11, 7, 7, 7, 6, 6, 5, 4,..."
130,1547,"[970, 1795, 830, 944, 3389, 963, 736, 1929, 31...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[146, 65, 39, 34, 29, 19, 16, 14, 12, 10, 8, 8..."
131,1548,"[1795, 3184, 3316, 1929, 3197, 3581, 151, 440,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[83, 7, 7, 4, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2]"
132,1549,"[1795, 944, 922, 954, 1596, 3197]",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[183, 6, 4, 2, 2, 2]"
133,1550,"[1795, 944]",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[24, 2]"
134,1551,"[1795, 944, 3184, 3581, 943, 3561, 3485, 1929,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[70, 23, 21, 19, 19, 11, 9, 9, 8, 7, 7, 7, 7, ..."
135,1552,"[1795, 944, 830, 939, 922, 1870, 3604, 3360, 9...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[289, 31, 10, 6, 5, 5, 4, 4, 4, 4, 4, 3, 3, 3,..."
136,1553,"[2539, 2419, 874, 728, 841, 944, 2859, 2404, 3...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...,"[449, 162, 51, 33, 26, 25, 24, 13, 9, 8, 8, 7,..."
137,1554,"[944, 2651, 909, 2266, 1795, 2722, 2419, 922, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[102, 64, 60, 45, 27, 24, 10, 5, 4, 3, 2, 2, 2]"
138,1555,"[1795, 922, 944, 1902, 1600, 1706, 1724, 1728,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[567, 179, 41, 20, 8, 4, 4, 3, 2, 2, 2, 2, 2, ..."
139,1556,"[1795, 922, 944, 943, 2389, 3566, 963, 1724, 1...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[511, 168, 41, 15, 6, 5, 5, 4, 4, 4, 4, 4, 3, ..."
140,1557,[1795],[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,[3]
141,1558,"[1795, 482, 1167, 2859, 2722, 1950, 2318, 2396...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[449, 171, 128, 95, 92, 89, 83, 77, 58, 40, 33..."
142,1561,"[1795, 3134, 151, 531, 1386, 1399, 1929, 3120,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[8, 5, 4, 4, 2, 2, 2, 2, 2]"
143,1562,"[944, 1795, 922, 930, 2419, 3476, 427, 1416, 1...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[156, 143, 53, 3, 3, 3, 2, 2, 2, 2, 2]"
144,1563,"[3476, 922, 943, 3082, 1377, 3492, 1118, 531, ...","[Bacteria;Proteobacteria;Gammaproteobacteria, ...","[679, 50, 11, 9, 7, 7, 4, 3, 3, 2, 2, 2, 2, 2,..."
145,1564,"[1795, 3064, 944, 151, 3184, 531, 1399, 3409, ...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[537, 37, 22, 18, 17, 16, 10, 10, 8, 7, 7, 6, ..."
146,1572,"[1167, 482, 3643, 1314, 1208, 3450, 1795, 728,...",[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...,"[93, 67, 64, 61, 53, 33, 26, 25, 24, 23, 19, 1..."
147,1573,"[922, 2419, 1453, 1744, 531, 1387, 1795, 3581,...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[92, 5, 4, 4, 3, 3, 3, 3, 2, 2, 2]"
148,1574,"[482, 909, 2419, 944, 1795, 1167, 2859, 922, 2...","[Bacteria, Bacteria;Actinobacteria;Actinobacte...","[29, 18, 16, 15, 14, 14, 14, 13, 13, 9, 7, 5, ..."
149,1576,"[1929, 1770, 1926, 151, 1016, 3064, 477, 3184,...",[Bacteria;Firmicutes;Bacilli;Lactobacillales;S...,"[121, 83, 10, 9, 9, 8, 7, 6, 6, 5, 5, 4, 2, 2,..."
150,1577,"[922, 1795, 151, 3184, 1770, 1929, 3134, 1399,...",[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[152, 130, 10, 9, 6, 6, 5, 4, 4, 3, 3, 3, 3, 3..."
151,1581,"[1795, 3312, 1399, 3134, 3288, 3120, 151, 954,...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,"[176, 57, 10, 10, 9, 8, 6, 6, 6, 5, 5, 5, 4, 3..."
152,1601,"[1929, 3030, 1795, 894, 1167, 1926, 3042, 1930...",[Bacteria;Firmicutes;Bacilli;Lactobacillales;S...,"[166, 129, 97, 94, 73, 51, 32, 32, 25, 22, 16,..."

In [29]:
new_samples = samples_df.set_index('id')

In [30]:
table = new_samples.transpose()

In [31]:
table

id,940,941,943,944,945,946,947,948,949,950,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
otu_ids,"[1167, 2859, 482, 2264, 41, 1189, 352, 189, 23...","[2722, 944, 2419, 2539, 3450, 1795, 2389, 1314...",[1795],"[922, 3555, 943, 1013, 1795, 944, 3368, 923, 1...","[944, 1795, 922, 2419, 2859, 943, 2722, 1167, ...","[1167, 2859, 2011, 41, 296, 909, 2782, 2722, 2...","[2419, 2722, 2859, 944, 2651, 1795, 3450, 922,...","[728, 922, 2722, 943, 2419, 482, 2859, 1977, 8...","[2419, 944, 1795]","[1795, 922, 944, 3360, 1929, 830, 1724, 1728, ...",...,"[944, 1795, 922, 930, 2419, 3476, 427, 1416, 1...","[3476, 922, 943, 3082, 1377, 3492, 1118, 531, ...","[1795, 3064, 944, 151, 3184, 531, 1399, 3409, ...","[1167, 482, 3643, 1314, 1208, 3450, 1795, 728,...","[922, 2419, 1453, 1744, 531, 1387, 1795, 3581,...","[482, 909, 2419, 944, 1795, 1167, 2859, 922, 2...","[1929, 1770, 1926, 151, 1016, 3064, 477, 3184,...","[922, 1795, 151, 3184, 1770, 1929, 3134, 1399,...","[1795, 3312, 1399, 3134, 3288, 3120, 151, 954,...","[1929, 3030, 1795, 894, 1167, 1926, 3042, 1930..."
otu_labels,[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...,[Bacteria;Firmicutes;Clostridia;Clostridiales;...,[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,[Bacteria;Actinobacteria;Actinobacteria;Actino...,[Bacteria;Actinobacteria;Actinobacteria;Actino...,[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...,[Bacteria;Firmicutes;Clostridia;Clostridiales;...,[Bacteria;Actinobacteria;Actinobacteria;Actino...,[Bacteria;Firmicutes;Clostridia;Clostridiales;...,[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,...,[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[Bacteria;Proteobacteria;Gammaproteobacteria, ...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...,[Bacteria;Actinobacteria;Actinobacteria;Actino...,"[Bacteria, Bacteria;Actinobacteria;Actinobacte...",[Bacteria;Firmicutes;Bacilli;Lactobacillales;S...,[Bacteria;Actinobacteria;Actinobacteria;Actino...,[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...,[Bacteria;Firmicutes;Bacilli;Lactobacillales;S...
sample_values,"[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37...","[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21...",[2],"[278, 33, 19, 18, 11, 8, 7, 5, 5, 5, 4, 4, 4, ...","[274, 141, 129, 110, 40, 37, 35, 32, 26, 20, 1...","[217, 195, 159, 153, 123, 116, 116, 114, 109, ...","[412, 236, 200, 135, 115, 102, 46, 45, 27, 24,...","[225.0, 185.0, 64.0, 57.0, 55.0, 50.0, 47.0, 2...","[8, 4, 3]","[427.0, 123.0, 14.0, 13.0, 13.0, 11.0, 10.0, 7...",...,"[156, 143, 53, 3, 3, 3, 2, 2, 2, 2, 2]","[679, 50, 11, 9, 7, 7, 4, 3, 3, 2, 2, 2, 2, 2,...","[537, 37, 22, 18, 17, 16, 10, 10, 8, 7, 7, 6, ...","[93, 67, 64, 61, 53, 33, 26, 25, 24, 23, 19, 1...","[92, 5, 4, 4, 3, 3, 3, 3, 2, 2, 2]","[29, 18, 16, 15, 14, 14, 14, 13, 13, 9, 7, 5, ...","[121, 83, 10, 9, 9, 8, 7, 6, 6, 5, 5, 4, 2, 2,...","[152, 130, 10, 9, 6, 6, 5, 4, 4, 3, 3, 3, 3, 3...","[176, 57, 10, 10, 9, 8, 6, 6, 6, 5, 5, 5, 4, 3...","[166, 129, 97, 94, 73, 51, 32, 32, 25, 22, 16,..."